<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SMediaDbContext" connectionString="Server=tcp:ljydyioqyh.database.windows.net,1433;Database=smedia2_db;User ID=smedia2@ljydyioqyh;Password=12M0nk3y5;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SMediaDbContextLocal" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=SMediaDbContext-20141017123835; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|SMediaDbContext-20141017123835.mdf" providerName="System.Data.SqlClient" />
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=smedia;AccountKey=ga62wLQy3ab2NFfXGALOw1Yi/KRbY0YtecJTRAaXvBx993VrEmUucua2we+3MJfbWDtAiL+uFmZSyd74AmSy4A==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=smedia;AccountKey=ga62wLQy3ab2NFfXGALOw1Yi/KRbY0YtecJTRAaXvBx993VrEmUucua2we+3MJfbWDtAiL+uFmZSyd74AmSy4A==" />
  </connectionStrings>
</configuration>