<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OLAFArtifacts" connectionString="DefaultEndpointsProtocol=https;AccountName=olafartifacts;AccountKey=QlRSTfgMOUxKi0969sX7Vrc9bJVMsnVBZaFegOLDH3MyWO94PgBRjeZMvZFFAI5gZn4XXxJFKO0keu/8D+NpMA==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <appSettings>
    <add key="OLAF-MS-CV" value="3c4c44d114a14372a0d0cf01b118e6c6" />
    <add key="OLAF-MS-CV-API" value="https://southcentralus.api.cognitive.microsoft.com/" />
    <add key="OLAF-MS-TXT" value="3ae79dc7ad8b4479bfd67f890bba0a0f" />
    <add key="OLAF-MS-TXT-API" value="https://southcentralus.api.cognitive.microsoft.com/text/analytics/v2.0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>